<div class="container">

<form name="create" action="/create_post" method="post">
  Position: <input type="text" name="title"><br>
  Description:<br>
  <textarea cols="40" rows="4" name="content"></textarea><br>
  Email: <input type="text" name="email"><br>
  Category:<br>
  <input type="radio" name="category_id" value="1">Job<br>
  <input type="submit" value="Submit Post">
</form>
</div>
