<div class="container">
<h1><%=@post.title.upcase%></h1>

<h3>Description:</h3>
<p><%=@post.content%></p>


<h3>Contact:</h3>
<%= @post.email %><br><br>

Remember your admin password! You will need it to edit this post!<br>
Password: <%= @post.admin %><br><br>

<a href="/">Return Home</a>
</div>
